body{
	background-color: #FFF;
	zoom:85%;
	color: black;
}
.reset, .dc-chart,.dc-chart .pie-slice, .dc-chart g.row text {
	fill: black;
}
#download_data,#footer_page,#no-filter-warning,#display_warning{display:none;}
.info{margin: 0px;}
#footer_print{
	display: inline-block;
	text-align: center;
	color: gray;
	border-top: rgb(187, 224, 123) solid 1px;
}
.row_print{
	margin-top: 5%;
}
.dc-chart path.line {
	stroke-width: 3px;
}
.dc-chart .axis .grid-line, .dc-chart .axis .grid-line line, .dc-chart .grid-line, .dc-chart .grid-line line{
	stroke: #909090;
}
.reset, .dc-chart, .dc-chart .pie-slice, .dc-chart g.row text{
	fill: black;
	font-size: 11px;
}
#agreg-overview svg g g.axis.y { display: none; }
#agreg-overview svg g g line {
	stroke: black;
    opacity: 1;
}