body{
	background-color: rgb(57, 104, 88);
	color: white;
}
.container{
	margin-right: 10px;
	margin-left: 10px;
	width: 99%;
}
.dc-chart path.line {
	stroke-width: 3px;
}
.dc-chart .axis .grid-line, .dc-chart .axis .grid-line line, .dc-chart .grid-line, .dc-chart .grid-line line{
	stroke: white;
}
.reset, .dc-chart, .dc-chart g.row text {
	fill: white;
	font-size: 11px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#agreg-overview svg g g.axis.y { display: none; }
.reset{
	background-color: #518681;
    border-radius: 5px;
    border: rgb(77, 95, 99) solid 1px;
}
.info{
	text-align: center;
	font-size: large;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.btn-chart-info{
	position: absolute;
    left: 0px;
    display: none;
}
#footer_page{
	text-align: center;
	color: #e2e2e2;
	width: 98%;
	border-top: rgb(187, 224, 123) solid 1px;
	position: absolute;
}
#footer_print{
	display: none;
}
#print_information,#display_error{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	background-color: rgba(52, 73, 99, 0.7);
}
#display_error{
	display:none;
	background-color: white;
}
.info_p,#inner_display_error{
	width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 20px;
    background-color: rgb(44, 62, 56);
    border-radius: 5px;
    border: solid 1px #ccc;
}
#print_page,#dtn_refresh{
	position: relative;
    width: 100%;
    text-align: end;
	cursor: pointer;
	color: white;
}
#cs_warning{
	font-size: 12px;
    text-align: initial;
    font-weight: normal;
}
.navbar-inverse .navbar-nav li a {
    color: #dedede;
}
.navbar-inverse .navbar-brand {
    color: #f5f5f5;
}
.glyphicon-info-sign {
    font-size: 15px;
    cursor: pointer;
}
a, a:hover, a .glyphicon{
	color: #efefef;
}
.dc-chart .brush rect.extent {
    fill: #f3ff00;
    fill-opacity: .125;
}
.modal-content {
	background-color: darkslategray;
}
#txt26{
	font-family: "Droid Sans",Helvetica,Arial,sans-serif;
	margin-left: 5px;
}