body{
	background-color: #EBFFCB;
}
.container{
	margin-right: 10px;
	margin-left: 10px;
	width: 99%;
}
.container-fluid{
	margin-left: 290px;
	width: calc(100% - 290px);
	padding-left: 0px;
	margin-top: 64px;
	margin-bottom: 55px;
}
#info_container{
	padding: 25%;
}
.dc-chart path.line {
	stroke-width: 3px;
}
.dc-chart .axis .grid-line, .dc-chart .axis .grid-line line, .dc-chart .grid-line, .dc-chart .grid-line line{
	stroke: #909090;
}
.reset, .dc-chart, .dc-chart .pie-slice, .dc-chart g.row text{
	fill: black;
	font-size: 11px;
}
#agreg-overview svg g g.axis.y { display: none; }
#agreg-overview svg g g line {
	stroke: black;
    opacity: 1;
}
.reset{
	background-color: rgb(220, 241, 186);
	border-radius: 8px;
	border: rgb(187, 224, 123) solid 1px;
}
.info{
	text-align: center;
	font-size: large;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.btn-chart-info{
	position: absolute;
    left: 0px;
    display: none;
}
#footer_page{
	text-align: center;
	color: gray;
	width: 98%;
	border-top: rgb(187, 224, 123) solid 1px;
	position: absolute;
}
#footer_print{
	display: none;
}
#print_information,#display_error{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	background-color: rgba(52, 73, 99, 0.7);
}
#display_error{
	display:none;
	background-color: white;
}
.info_p,#inner_display_error{
	width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 20px;
    background-color: #fffe94;
    border-radius: 5px;
    border: solid 1px #ccc;
}
#print_page,#dtn_refresh{
	position: relative;
    width: 100%;
    text-align: end;
	cursor: pointer;
	color: #333;
}
.navbar-inverse .navbar-nav li a {
    color: #dedede;
}
.navbar-inverse .navbar-brand {
    color: #f5f5f5;
}
.glyphicon-info-sign {
    font-size: 15px;
    cursor: pointer;
}
#txt26{
	font-family: "Droid Sans",Helvetica,Arial,sans-serif;
	margin-left: 5px;
}